In [2]:
import pandas as pd
data=pd.read_csv("framingham.csv")

In [3]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [4]:
# 1st answer

In [8]:
male_data=data.query("male==1 and education==3.0 and heartRate>65")

In [9]:
male_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
39,1,36,3.0,0,0.0,0.0,0,0,0,180.0,111.0,73.0,27.78,71.0,80.0,0
49,1,36,3.0,1,20.0,NaN,0,1,0,194.0,139.0,93.0,24.33,80.0,62.0,0
111,1,51,3.0,0,0.0,0.0,0,1,0,214.0,145.0,92.5,26.09,70.0,NaN,0
119,1,50,3.0,1,40.0,0.0,0,1,0,175.0,157.0,88.0,25.09,88.0,85.0,0
122,1,66,3.0,0,0.0,0.0,0,0,0,288.0,109.0,71.0,29.29,80.0,80.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4146,1,42,3.0,0,0.0,0.0,0,0,0,235.0,103.0,70.0,21.48,67.0,73.0,0
4178,1,41,3.0,1,30.0,0.0,0,0,0,210.0,132.5,85.0,28.62,68.0,70.0,0
4222,1,53,3.0,0,0.0,0.0,0,1,0,289.0,188.0,110.0,26.70,70.0,63.0,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0

In [ ]:
# Repeat 1

In [10]:
female_data=data.query("male==0 and education==3.0 and heartRate>65")

In [11]:
female_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
23,0,52,3.0,1,20.0,0.0,0,0,0,215.0,132.0,82.0,25.11,71.0,75.0,0
28,0,61,3.0,0,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1
44,0,53,3.0,0,0.0,1.0,0,1,1,311.0,206.0,92.0,21.51,76.0,215.0,1
77,0,44,3.0,1,20.0,NaN,0,0,0,213.0,115.0,72.5,21.16,80.0,89.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4188,0,44,3.0,0,0.0,0.0,0,0,0,180.0,110.0,70.0,23.98,92.0,67.0,1
4214,0,56,3.0,1,5.0,0.0,0,0,0,230.0,123.0,78.5,24.71,76.0,87.0,1
4216,0,59,3.0,1,20.0,0.0,0,0,0,251.0,125.0,80.0,22.18,70.0,70.0,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [12]:
# 6th answer

In [15]:
y=data["heartRate"]

In [16]:
x=data.drop(["heartRate"],axis=1)

In [17]:
x

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,80.0,0

In [ ]:
# 7th answer

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 0)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
model=LinearRegression()

In [29]:
x_train.shape

(2826, 15)

In [34]:
x_train= x_train.fillna(x_train.mean())

In [35]:
x_train.shape

(2826, 15)

In [36]:
x_train.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
glucose            0
TenYearCHD         0
dtype: int64

In [37]:
y_train=y_train.fillna(y_train.mean())

In [38]:
y_train.shape

(2826,)

In [39]:
model.fit(x_train,y_train)

LinearRegression()

In [40]:
model.coef_

array([-4.00373054, -0.12749235, -0.51077547,  1.30842867,  0.11118341,
       -3.93636561, -0.14559129,  1.05987445, -0.69283387,  0.01442711,
        0.05339334,  0.10262932,  0.04372452,  0.05319402,  0.05232586])

In [41]:
model.intercept_

58.57161361600062

In [42]:
model.score(x_train,y_train)

0.09424220568159869

In [44]:
y_test=y_test.fillna(y_test.mean())

In [45]:
x_test=x_test.fillna(x_test.mean())

In [46]:
model.score(x_test,y_test)

0.07010795633752354

In [47]:
#Above Model is a underfit

In [ ]:
# 3rd answer

In [48]:
#Regression:Regression is a technique used to model and analyze the relationships between variables and often times how they 
#contribute. A linear regression refers to a regression model that 
#is completely made up of linear variables. 
#It is of two types:
#Linear Regression
#Polynomial Regression

In [ ]:
# 4th answer

In [49]:
#Overfit: It occurs when a statistical model fits exactly against its training data. When this happens, the algorithm 
#unfortunately cannot perform accurately against unseen data.

In [ ]:
# 5th answer

In [50]:
# How to handle the overfit condition?
#Apply regularization , which comes down to adding a cost to the loss function.

In [ ]:
# 7th answer

In [69]:
import pandas as pd

In [70]:
poly=pd.read_csv("poly_practice_2.csv")

In [71]:
poly

     x         y
0    1         4
1    2        20
2    3        86
3    4       262
4    5       632
..  ..       ...
84  85  52200712
85  86  54700904
86  87  57289850
87  88  59969626
88  89  62742332

[89 rows x 2 columns]

In [116]:
y= poly["y"]

In [117]:
x=poly.drop("y",axis=1)

In [118]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 0)

In [119]:
from sklearn.linear_model import LinearRegression

In [120]:
model=LinearRegression()

In [121]:
model.fit(x_train,y_train)

LinearRegression()

In [122]:
model.coef_

array([580512.78993345])

In [123]:
model.intercept_

-13518855.865478745

In [124]:
model.score(x_train,y_train)

0.752458319268784

In [125]:
model.score(x_test,y_test)

0.7511716666318994

In [ ]:
#This Model is Ideal